/* PHASE 1: Header */

body {
  font-family: "Oregano";
  font-weight: 500;
  font-size: 22px;
  background: #eee;
}

.header {
  background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  /* border-bottom: 1px solid #ccc; */
}

.header a {
  display: block;
  padding: 10px 30px;
}

.header-logo {
  border-right: 1px solid black;
  /* border-left: 1px solid; */
  /* margin-left: 150px; */
  font-weight: 550;
}

.header-logo:hover {
  /* background-image: linear-gradient(to right, violet, indigo, blue, green, yellow, orange, red); */
  background-image: linear-gradient(to bottom, orange, orange, #eee);
}

.header-nav {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 900px;
  border-left: 1px solid black;
  border-right: 1px solid white;
}

.header-list {
  display: flex;
}

.header-list > li {
  border-left: 1px solid white;
}

.header-list > li:hover {
  /* background-image: linear-gradient(to bottom, violet, indigo, blue, green, yellow, orange, red, #eee); */
  background-image: linear-gradient(to bottom, blue, blue, blue, #eee);
}
